

h1{
    font-size: 2.4rem;
    margin-block-start: 0.3em;
    margin-block-end: 0;
}

.body{    
    width: 80%;
    margin: auto;    
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    background-color: azure;
}

.layout__line{
    border: solid 0.1vh rgba(0,0,0,0.2);
    transform: scaleY(0.1);
}

.layout__block{
    cursor: pointer;
    margin-bottom: 2vh;    
}

.layout__block:hover .layout__icon{    
    transform: rotate(0deg);     
}

.layout__container:hover .layout__icon{
    display: block;
}

.layout__container:hover .layout__text{
    color: black;
}

.layout__text-icon{    
    display: flex;
    justify-content: space-between;
    color: blue;
    padding-top: 1vh;
    padding-bottom: 1vh;          
}

.layout__icon{
   display: none;
   transform: rotate(45deg);
   transition: all .8s;
}

.layout__image{
    margin: auto;
    margin-bottom: 1vh;
    height: 0vh;
    width: 0vw;
    display: block;
    transition: all .5s;
}

#layout__toggle1, #layout__toggle2, #layout__toggle3, #layout__toggle4, #layout__toggle5{
    display: none;
}

#layout__toggle1:checked ~ .layout__image{
    height: 30vh;
    width: 15vw;
    display: block;           
}

#layout__toggle2:checked ~ .layout__image{
    height: 30vh;
    width: 15vw;
    display: block;      
}

#layout__toggle3:checked ~ .layout__image{
    height: 30vh;
    width: 15vw;
    display: block; 
}

#layout__toggle4:checked ~ .layout__image{
    height: 30vh;
    width: 15vw;
    display: block;          
}

#layout__toggle5:checked ~ .layout__image{
    height: 30vh;
    width: 15vw;
    display: block;       
}

#layout__toggle1:checked ~ .layout__text-icon .layout__text{
    color: black; 
}

#layout__toggle2:checked ~ .layout__text-icon .layout__text{
    color: black; 
}

#layout__toggle3:checked ~ .layout__text-icon .layout__text{
    color: black; 
}

#layout__toggle4:checked ~ .layout__text-icon .layout__text{
    color: black; 
}

#layout__toggle5:checked ~ .layout__text-icon .layout__text{
    color: black; 
}

#layout__toggle1:checked ~ .layout__text-icon .layout__icon{
    transform: rotate(0deg);
}

#layout__toggle2:checked ~ .layout__text-icon .layout__icon{
    transform: rotate(0deg); 
}

#layout__toggle3:checked ~ .layout__text-icon .layout__icon{
    transform: rotate(0deg);
}

#layout__toggle4:checked ~ .layout__text-icon .layout__icon{
    transform: rotate(0deg);
}

#layout__toggle5:checked ~ .layout__text-icon .layout__icon{
    transform: rotate(0deg);
}


.layout__block:hover .layout__image{   
    height: 30vh;
    width: 15vw;   
    display: block;                                  
 }
 